PORT = 4200
HOST = localhost
#==========================DB================
DB_HOST =
DB_PORT =
DB_USER =
DB_PASSWORD =
DB_NAME =
#==========================JSON-SERVER=======
PATH_TO_JSON_SERVER = http://localhost:3000
